body {
    min-height: 75rem; /* Can be removed; just added for demo purposes */
  }
  
  .navbar {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 0px;
  }
  
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  .album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  }
  
  .card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
  }
  
  .card > img {
    margin-bottom: .75rem;
  }
  
  .card-text {
    font-size: 85%;
  }
  
  .form-control{
    border-color: #17a2bb;
  }
  #button-addon2{
      height: 38px;
  }
  .navbar-brand{
      font-weight: 100;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 26px;
  }
  .animalbtn{
      width: 100px;
  }
  #seeMore{
      width: 100%;
      
  }